<%- include('components/head') %>
<link rel="stylesheet" href="/css/carhire.css" />
<%- include('components/nav') %>
<%- include('components/mobile-section') %>
<%- include('components/small_banner') %>
<%- include('components/ride_types') %>
<%- include('components/rides') %>
<%- include('components/cta_car') %>
<%- include('components/about_carhire') %>
<%- include('components/footer') %>  

<%- include('components/fixed-bottom-button') %>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- Bootstrap JS -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


<!-- </body> -->

